
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 45px;
}


@media (max-width: 768px) {
    #container{
        margin-top: 200px;
    }
    input{
        width: 65%;
    }
}